.content{
    height: 900px;
    width: 790px;
    float: right;
    border-left: 1px solid red;
    border-bottom: 1px solid red; 
 
}
/*  this is all css for div class one       */

.one{
    height: 200px;
    width: 790px;
    justify-content: center;
    margin-bottom: 18px;
    
}
.oneImg{
    height: 180px;
    width: 180px;
    margin: 5px;
    display: inline-block;
}
.oneArticle{
    height: 180px;
    width: 570px;
    float: right;
    margin: 5px;

}
img{
    height: 180px;
    width: 180px;
    justify-content: center;
}



/*  this is all css for div class two       */

.two{
    height: 200px;
    width: 370px;
    background-color: red;
    margin: 0px;
    display: inline-block;
    margin-left: 23px;

    
}

/*  this is all css for div class three       */
.three{
    height: 200px;
    width: 370px;
    background-color: aqua;
    margin: 0px;
    float: left;
    margin-right: 24px;
    
}